<form method="post" enctype="multipart/form-data" action="/uploadAssignment">
    <div>
        <label for="userPDF">Choose file to upload</label>
        <input type="file" id="userPDF" name="userPDF" accept=".pdf">
    </div>
    <div>
        <button>Submit</button>
    </div>
</form>