<form method="post" action="/upload/<%= code %>/<%= no %>" enctype="multipart/form-data">
    <div>
        <label for="userPDF">Choose file to upload</label>
        <input type="file" id="userPDF" name="userPDF" accept=".pdf">
    </div>
    <div>
        <button>Submit</button>
    </div>
</form>